h1{
    font-size: 3rem;
    margin: 0;
}

p-card{
    width: 100%;
    background-color: #171a21;
    color: #e3ebf1;
}

#container{
    background-size: cover;
    background-image: url("/Header_1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

#headerContainer{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 12%;
}

#mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    min-width: 50rem;
}

#titleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

#steamIcon{
    width: 69px;
    height: 69px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

#subtextContainer{
    text-align: center;
    margin: 0 auto;
    width: 80% ;
}

#featuredContainer{
    background-color: #1b2838;
}

#featuredGames{
    display: flex;
    padding-bottom: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#featuredCarousel{
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#featuredCat{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#aboutContainer{
    background-color: #171A21;
    background-image: url("/assets/pyg_logo.png");
    background-repeat: no-repeat;
    background-position: -6rem 10rem;
    background-size: 20%;
    height: 50vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 26rem;
    padding-right: 26rem;
}

#aboutTextContainer{
    color: #e3ebf1;
    min-width: 30rem;
}

#aboutResourcesContainer{
    min-width: 30rem;
}

#aboutResourcesContainer a{
    min-width: 30rem;
    color: #2e5e83;
}