<main class="main">
  <div id="container">
  <div id="headerContainer">
    <app-header></app-header>
  </div>
  <div id="mainContainer">
    <p-card>
      <div id="titleContainer">
          <img id="steamIcon" src="steam.png">
          <h1>Find Your Next Favorite Game</h1>
      </div>
      <div id="subtextContainer">
        <p>Our AI-powered recommender analyzes your tastes and playstyle to deliver smart, personalized game suggestions.</p>
        <!-- or some sort of instruction on how to use -->
      </div>
      <app-input></app-input>
    </p-card>
  </div>
  </div>
  <div>
    <h1>Next Section</h1>
  </div>
</main>