h1{
    font-size: 3rem;
    margin: 0;
}

p-card{
    width: 100%;
    background-color: #171a21;
    color: #e3ebf1;
}

#container{
    background-size: cover;
    background-image: url("/Header_1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

#headerContainer{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 16%;
}

#mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    min-width: 50rem;
}

#titleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

#steamIcon{
    width: 69px;
    height: 69px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

#subtextContainer{
    text-align: center;
    margin: 0 auto;
    width: 80% ;
}

#additionalContainer{
    background-color: #1b2838;

}