<div id="componentContainer">
    @if(inputData){
        @for(item of inputData; track item){
            <p-card (click)="openGamePage(item.name)">
                <div class="gameContainer">
                    <img src="{{item.tiny_image}}" [alt]="item.name" class="itemImage" />
                    <p class="itemText">{{item.name}}</p>
                </div>
            </p-card>
        } 
    } @else {
        <span class="itemText">Game does not exist or invalid input, try again.</span>
    }
</div>