#componentContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3 1fr); 
    padding-top: 2rem;
}

.p-card{
    --p-card-body-padding: 0px;
    background-color: #3A4554;
    margin: 10px;
    cursor: pointer;
}

.p-card:hover{
    background-color: #4d5b6e;
}

.gameContainer{
    display: flex;
    align-items: center;
}

.itemImage{
    border-radius: 8px 0px 0px 8px;
    object-fit: cover;
    width: 160px;
    height: 60px;
}

.itemText{
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e3ebf1;
}
