#componentContainer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

::ng-deep .p-carousel-viewport{
    margin: 0;
}

#sectionTitle{
    margin-left: 4rem;
}

.itemContainer{
    display: block;
    height: 12rem;
    padding: 1rem;
}

.itemImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

.itemLabel{
    text-align: center;
    color: #e3ebf1;
}