<div id="componentContainer">
    <div id="sectionTitle">
        <h2>Top Games</h2>
    </div>
    <p-carousel [value]="topGames" [numVisible]="5" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-product #item>
            <div class="itemContainer" (click)="openGamePage(product.name)" pButton>
                <img src="{{product.logo}}" [alt]="product.name" class="itemImage" />
                <p class="itemLabel">{{product.name}}</p>
            </div>
        </ng-template>
    </p-carousel>    
</div>